<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/transporte</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">2237169712</property>
    <property name="hibernate.connection.isolation">2</property>
    <mapping resource="astt/una/prograiv/sistema/domain/Chofervehiculo.hbm.xml"/>
    <mapping resource="astt/una/prograiv/sistema/domain/Usuario.hbm.xml"/>
    <mapping resource="astt/una/prograiv/sistema/domain/Vehiculo.hbm.xml"/>
    <mapping resource="astt/una/prograiv/sistema/domain/Chofer.hbm.xml"/>
    <mapping resource="astt/una/prograiv/sistema/domain/Servicio.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
